# Unreal Engine
Binaries/
Intermediate/
DerivedDataCache/
Saved/

# Visual Studio
.vs/
*.opensdf
*.sdf
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.idb
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# VS Code
.vscode/

# Cesium Cache
cesium-request-cache.sqlite*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Temporary
*.tmp
*.temp
*~